@import url("details.css");
html,
body {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 100vh; }

a, a.visited {
  color: blue; }

main {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 400px;
  padding: 0em; }

@media only screen and (max-width: 800px) {
  main {
    padding: 1rem; } }
/* ----------- */
.about .column {
  flex: 1;
  margin: 1rem; }
.about .about__intro {
  font-size: 1.4rem;
  line-height: 2.0rem;
  margin: 0;
  padding: 0; }
.about ul {
  /*max-width: 40rem;*/
  padding: 0; }
.about li {
  border-bottom: 1px solid #eeeeee;
  line-height: 2rem;
  list-style-type: none; }
.about strong {
  display: inline-block;
  font-weight: 500;
  width: 10rem; }

@media only screen and (max-width: 800px) {
  .about.row {
    flex-direction: column; }

  .about .column:nth-of-type(2) {
    order: -1; } }
/* ----------- */
.me {
  font-size: 1.2rem;
  padding: 1rem; }
  .me span {
    display: block; }
  .me .my-name {
    margin: 0; }
  .me .my-title {
    margin: 0; }
  .me .my-city {
    margin: 0; }

@media only screen and (max-width: 800px) {
  .career-project.row {
    flex-direction: column; } }
/* ----------- */
.projects.column {
  flex: 1;
  margin: 1rem; }

/* ----------- */
.career.column {
  flex: 1;
  margin: 1rem; }

@media only screen and (max-width: 800px) {
  .education-skill.row {
    flex-direction: column; } }
/* ----------- */
.education.column {
  flex: 1;
  margin: 1rem; }

/* ----------- */
.skills.column {
  flex: 1;
  margin: 1rem;
  min-width: 10rem; }

@media only screen and (max-width: 800px) {
  .skills.row {
    /*flex-direction: column;*/ } }
/* ----------- */
.card {
  background-color: #ffffff;
  margin: 0 0 1.5rem 0;
  /*max-width: 30rem;*/
  padding: 0;
  overflow: hidden; }
  .card .card-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  .card .card-title {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: none; }
  .card .card-subtitle {
    display: block; }
  .card .card-date {
    background-color: #14a8fc;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: .8rem;
    padding: .2rem .4rem;
    text-align: center; }
  .card .card-degree {
    color: #14a8fc;
    display: block;
    margin: .2rem 0; }
  .card .card-jobtitle {
    color: #14a8fc;
    display: block;
    font-size: 1.0rem; }
  .card .card-description {
    font-size: 1.0rem;
    font-weight: 300;
    margin: 0;
    line-height: 1.4; }
  .card .card__accomplishments {
    margin: 1rem 0;
    padding: 0em; }
  .card .card__duties {
    margin: 1rem 0;
    padding: 0em; }
  .card ul {
    padding: 0;
    margin: 0; }
    .card ul li {
      line-height: 1.4em;
      list-style-type: none; }
  .card ul.card__links {
    margin: 1rem 0; }
  .card ul.card__links li {
    padding: 0;
    margin: .4rem; }
  .card a, .card a:visited {
    color: #14a8fc;
    text-decoration: underline; }

.card-hover:hover {
  cursor: pointer; }

/*# sourceMappingURL=design.css.map */
