html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

a, a.visited {
	color: blue;
}

main {
	background-color: transparent; 
	margin: 0 auto;
	margin-top: 80px;
}

nav {
	.navigation {
		align-items: center;
		background-color: #444444;
		display: flex;
		height: 80px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: fixed;
		top:0;
		width: 100%;
  	}
  .navigation li:first-child {
	font-size: 1.4rem;
	margin-left: 10px;
	margin-right: auto;
  }
  .navigation li { 
	color: #ffffff;
	display: block;
	text-align: center;
  }
  .navigation .logo {
	margin-right: auto;
	margin-left: auto;
  }
  .navigation a {  
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-weight: 400;
	padding: 16px 20px;
	text-decoration: none;
	transition:.5s;
  }
  .navigation a:hover { 
	background-color: gold;
	color: black;
  }
}


.scrollpage {
	background-color:#ffffff;
	padding: 3rem 3rem 0 3rem;
	height: 88vh;
}
.scrollpage:nth-of-type(even){
	background-color:#bbe6ff;
}	


.about-page, .career-page, .strength-page, .projects-page, .education-page, .skills-page {
	padding: 2rem 3rem;
}

.about-page {

	ul {
		padding: 0;
	}
	li {
		line-height: 1.4rem;
		list-style-type: none;
	}
	strong {
		display: inline-block;
		font-weight: 600;
		width: 10rem; 
	}
}

.skills-page {
	.strengths-container {
		@include flexbox;
		@include justify-content(space-between);
		ul {
			font-size: 1.4rem;
			margin: 0;
			padding: 0;
			line-height: 2.0rem;
			list-style-type: none;
		}
	}
}

.career-page {
	section {
		cursor: pointer;
		margin-bottom: 1rem;
		p {
			font-size: 1.4rem;
		}
	}
	section div:hover {
		background-color: aliceblue;
	}
}




