html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

a, a.visited {
	color: blue;
}

main {
	background-color: transparent; 
	margin: 0 auto;
	margin-top: 0px;
}

nav {
	position: absolute;
	top:0;
	width: 100%;

	.navigation {
		align-items: center;
		display: flex;
		list-style-type: none;
		margin: 0 auto; 
		padding: 0;
	}
  .navigation li:first-child {
	font-size: 1.4rem;
	margin-left: 10px;
	margin-right: auto;
  }
  .navigation li { 
	color: transparent;
	display: block;
	text-align: center;
  }
  .navigation .logo {
	margin-right: auto;
	margin-left: auto;
  }
  .navigation a {  
	color: #333333;
	cursor: pointer;
	display: block;
	font-weight: 400;
	padding: 16px 20px;
	text-decoration: none;
	transition:.5s;
  }
  .navigation a:hover { 
	background-color: gold;
	color: black;
  }
}


.scrollpage {
	background-color:#ffffff;
	padding: 3rem 3rem 0 3rem;
	max-height: 100vh;
}
.scrollpage:nth-of-type(even){
	background-color:#bbe6ff;
}	


.about-page, .career-page, .strength-page, .projects-page, .education-page, .skills-page {
	padding: 2rem 3rem;
}

.about-page {

	ul {
		padding: 0;
	}
	li {
		line-height: 1.4rem;
		list-style-type: none;
	}
	strong {
		display: inline-block;
		font-weight: 600;
		width: 10rem; 
	}
}

.skills-page {
	font-size: 1.2rem;
	.strengths-container {
		@include flexbox;
		@include justify-content(space-between);
		ul {
			margin: 0;
			padding: 0;
			line-height: 2.0rem;
			list-style-type: none;
		}
	}
}

.career-page {
	font-size: 1.2rem;
	article {
		cursor: pointer;
		margin-bottom: 1rem;
	}
	article:hover {
		background-color: aliceblue;
	}
}

.projects-page {
	font-size: 1.2rem;
	article {
		cursor: pointer;
		margin-bottom: 1rem;
	}
	article:hover {
		background-color: aliceblue;
	}
}




