.career__list {
  width: 600px;
  overflow: visible;
  margin: 0;
  padding: 0; }

.career__highlights {
  webkit-animation: fadeIn .6s;
  animation: fadeIn .6s;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 600px;
  vertical-align: top; }

@media only screen and (max-width: 800px) {
  .career__highlights .row .column:nth-of-type(2) {
    /*order: -1;*/ } }

.career__overview {
  flex: 1; }
  .career__overview.column {
    padding: 1rem; }

.career__date.column {
  padding: 1rem; }

.career__screenshots {
  flex: 2; }

.career__duties {
  flex: 1; }
  .career__duties.column {
    padding: 1rem; }

.career__accomplishments {
  flex: 2; }
  .career__accomplishments.column {
    padding: 1rem; }

.career__title {
  margin: 0; }

.career__date span {
  background-color: #14a8fc;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-size: 1.2rem;
  padding: .2rem .4rem;
  text-align: center; }

.career__description {
  font-size: 1.3rem;
  line-height: 2.0rem;
  /*max-width: 28rem;*/ }

.career__links {
  list-style-type: none;
  padding-left: 0; }

.career__link {
  line-height: 2.0rem;
  border-bottom: 1px solid #f3f3f3; }

.career__screenshot {
  height: auto;
  max-width: 34rem;
  width: 100%;
  object-fit: cover; }

.career__accomplishments__title,
.career__duties__title {
  font-size: 1.2rem;
  font-weight: 600; }

.career__accomplishments__list,
.career__duties__list {
  list-style-type: none;
  padding-left: 0; }

.career__accomplishments__item,
.career__duties__item {
  border-bottom: 1px solid #f3f3f3;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: .8rem 0; }

@media only screen and (max-width: 800px) {
  .career__highlights .row {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; } }
/*DETAILS*/
.details section {
  margin-top: 4rem;
  padding-bottom: 0rem; }
.details .pagination {
  text-align: center; }
  .details .pagination .page {
    background-color: #14a8fc;
    border: 0px solid #038cda;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 .3rem;
    width: .8rem;
    height: .8rem; }
  .details .pagination .page:hover {
    background-color: #ffffff;
    transform: scale(1.4);
    transition: all 200ms; }
  .details .pagination a.active {
    background-color: #ffffff;
    border: 0px solid #14a8fc; }
.details .navigation {
  background-color: #444444;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; }
  .details .navigation .column {
    flex: 1;
    padding: .5rem; }
  .details .navigation .home, .details .navigation .back, .details .navigation .next {
    color: #ffffff;
    cursor: pointer;
    opacity: 1;
    padding: 1rem; }
  .details .navigation .back:hover, .details .navigation .next:hover {
    opacity: 1; }
  .details .navigation .next {
    text-align: right; }
@media only screen and (max-width: 800px) {
  .details .navigation {
    background-color: black;
    top: 0;
    padding: 0; } }

/*# sourceMappingURL=details.css.map */
