<div>
	<a name="career"></a> 
	<h2>Career History</h2>

	{{#items}}
	<article class="card card-hover" page="{{id}}" id="career{{ id }}">

		<div class="card-header">
			<h4 class="card-title">
				{{ jobTitle }}
			</h4>
			<span class="card-date">
				{{ date }}
			</span>
		</div>		

		<span class="card-jobtitle">
			{{ company }}
		</span>

		<p class="card-description hidden">
			{{ intro }}
		</p>				

		<div class="hidden">
		{{ #screenshots }}
			<img src="images/{{ url }}"/>
		{{ /screenshots }}
		</div>

	</article>
	{{/items}}
</div>

<script>
	$( ".career .card" ).click(function() {
		//const item = this.id;
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		window.location='details-career.html'
	});	
</script>